#error-container{
  background: #333;
  padding:20px;
  border-radius: 3px;
  text-align: center;
  color: white;
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  width: 90%;
  margin-left: -45%;
  box-shadow: 1px 1px 3px 3px black;
}

.tweet{
  word-break: break-all;
}

.new-tweet{
  margin: 0 auto;
  display: flex;
  padding: 1.5em;
  display: none; 
}

.new-tweet form{
  width: 100%;
}

#tweet-text{
  border:none;
  border-bottom: 2px solid #333;
  background-color: #f4f1ec;
  width: 100%;
  /* height: 45px; */
}

#tweet-text::placeholder {
  color: #333;
  opacity: 1; /* Firefox */
  font-size: 24px;
}

#tweet-text:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #333;
  opacity: 1; /* Firefox */
  font-size: 24px;
}

#tweet-text::-ms-input-placeholder { /* Microsoft Edge */
  color: #333;
  opacity: 1; /* Firefox */
  font-size: 24px;
}

.container-submission{
  display: flex;
  margin-top: 10px;
  font-size: 16px;
  align-items: center;
}

.container-submission button{
  font-family: 'Bungee', cursive;
  background: #4056A1;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
}

.container-submission .counter{
  font-family: 'Bungee', cursive;
  margin-left: auto;
}



/* TWEET DISPLAY */

.tweet{
  border: 3px solid grey;
  padding: 0.8em;
  margin: 0.8em 0px;
}
.tweet:hover{
  box-shadow: 2px 4px 2px lightseagreen;
}

.tweet header{
  height: 30px;
  display: flex;
  flex-direction: row;
  margin: 0 0 0.8em 0;
  align-items: center;
}

.tweet header img{
  height: 30px;
  margin-right: 0.3em;
}

.tweet header h3{
  flex: 1;
}

.tweet header span{
  color: lightgrey
}

.tweet .tweet-content{
  margin: 0 0 0.8em 0;
}

.tweet footer{
  border-top: 3px solid grey;
  padding: 0.8em 0 0 0;
  font-size: 15px;
  display: flex;
  flex-direction: row;
}

.tweet .flags{
  justify-self:flex-end;
  margin-left:auto
}

